<div class="comments-form-container">
  <a href="/pages/mycomments">Voltar</a>
  <h1>Criando Comentário:</h1>
  <form action="/comments/create" method="POST">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="Digite o comentário" />
    </div>
    <input type="submit" value="Criar Comentário" />
  </form>
</div>